.flex{
    display:flex;
}
.left{
    justify-content:flex-start;
}
.center{
    justify-content: center;
}
.viewport{
    height: 100vh;
}
.v-center{
    align-items: center;
}

.flex-direct-row{
    flex-direction: row;
}

.flex-direct-column-wrap{
    flex-direction: column;

}

.space-even{
    justify-content: space-evenly;
}

.space-even p, Button{
    margin: 0 15px;
}
.round-inputs{
    border-radius: 5px;
    margin: 0 10px;
}

.icon{
    height:50%;
    margin: 5px;
}

.panel{
        display:none;

    }
.is-expanded{
        display:block;
        text-align:center;
    }
.panel-header{
    cursor: pointer;
}



.spacer{
    padding: 20px;
}