.flex{
    display:flex;

}

.center{
    justify-content: center;
}

.v-center{
    align-items: center;
}

.flex-direct{
    flex-direction: column;
}

.space-even{
    justify-content: space-evenly;
}

.round-inputs{
    border-radius: 5px;
    margin: 0 10px;
}